
body{
    margin: 0;
}

/* HEADER */
header{
    background-image: url('images/header-blue.jpg');
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* DIV general */
.bannerTop{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 197px;
}

.navs {
    width: 100%;
}

/* NAV BLANCO */

.whiteNav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.navList ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.navList li {
    margin: 20px 10px;
}

.navSearch {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.recommendW {
    width: 75%;
    text-align: end;
}

.recommendW span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    text-align: end;
}

.searchIcons {
    display: flex;
    justify-content: space-evenly;
}
.searchIcons i {
    color: grey;
    margin-left: 10px;
}

.searchIcons span {
    margin-left: 5px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: grey;
}

/* NAV AZUL */

.blueNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5px;
}

.title {
    padding-left: 20px;
    color: white;
}

.title p {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.title h2 {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.blueNavImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.intel {
    height: auto;
    width: 150px;
}

.intel img {
    width: 100%;
    height: auto;
}

.intelText {
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin-left: 0;
    color: white;

}

.freeShipping {
    height: auto;
    width: 72px;
}

.freeShipping img {
    width: 100%;
    height: auto;
}

/* otro mambo */

.sortBySpecs{
    background-color: lightgray;
    height: 220px;
    width: 100%;
}

.containerWithPadding{
    padding: 0px 50px;
}

.ourBrands{
    background-color: yellow;
    height: 350px;
    width: 100%;
}

.trends{
    background-color: yellowgreen;
    height: 220px;
    width: 100%;
}

.toUnfold{
    height: 60px;
    width: 100%;
    background-color: orange;
    margin: 50px 0px; 
}

footer{
    background-color: gray;
    height: 220px;
    width: 100%;
}

