
body{
    margin: 0;
}

/* HEADER */
header{
    background-image: url('images/header-blue.jpg');
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* DIV general */
.bannerTop{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 197px;
}

.navs {
    width: 100%;
}

/* NAV BLANCO */

.whiteNav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.navList ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.navList li {
    margin: 20px 10px;
}

.navSearch {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.recommendW {
    width: 75%;
    text-align: end;
}

.recommendW span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    text-align: end;
}

.searchIcons {
    display: flex;
    justify-content: space-evenly;
}
.searchIcons i {
    color: grey;
    margin-left: 10px;
}

.searchIcons span {
    margin-left: 5px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: grey;
}

/* NAV AZUL */

.blueNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5px;
}

.title {
    padding-left: 20px;
    color: white;
}

.title p {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.title h2 {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.blueNavImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 32%;
}

.intel {
    height: auto;
    width: 150px;
}

.intel img {
    width: 100%;
    height: auto;
}

.intelText {
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    margin-left: 0;
    color: white;

}

.freeShipping {
    height: auto;
    width: 72px;
}

.freeShipping img {
    width: 100%;
    height: auto;
}

/* Browse By TYPE */

.bannerBrowse {
    width: 85%;
}

.browseTitle {
    width: 41%;
    margin-top: 50px;
    border-bottom: white solid 0.8px;
    line-height: 1px;
}

.browseTitle h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
}

.browseOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    margin-top: 15px;
}

.browseBox {
    width: 20%;
    margin-right: 2px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 1px 5px 0px #000000;
}

.browseBox:hover {
    opacity: 0.8;
}

.browseBoxImg img {
    width: 100%;
    height: auto;
}

.traditional {
    background-color: #49c0e0;
}

.traditional .browseBoxImg {
    height: auto;
    width: 35%;
    margin-left: -7px;
    margin-top: 2px;
}

.thin {
    background-color: #6bbe4c;
}

.thin .browseBoxImg {
    height: auto;
    width: 30%;
    margin-left: -7px;
    margin-top: 2px;
}

.twoOne {
    background-color: #e96aaf;
}

.twoOne .browseBoxImg {
    height: auto;
    width: 29%;
    margin-left: -30px;
    margin-top: 5px;
}

.twoOne span {
    margin-right: 30px;
}

.gaming {
    background-color: #ff6b01;
}

.gaming .browseBoxImg {
    height: auto;
    width: 35%;
    margin-left: -14px;
    margin-top: 2px;
}

.gaming span {
    margin-right: 25px;
}

.browseBox span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    margin-left: -10px;
}

.work {
    margin-right: 0px;
    background-color: white;
    border: #3e88dd solid 3px;
    color: #3e88dd;
}

.work i {
    font-size: 1.5em;
}

.work span {
    color: #3e88dd;
}


/* Sort by Specs */

.sortTitle {
    width: 41%;
    margin-top: 30px;
    border-bottom: white solid 0.8px;
    line-height: 1px;
}

.sort {
    width: 85%;
}
.sortTitle h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
}

.sortBySpecs{
    height: 220px;
    width: 100%;
}

.specsNav {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}

.specsItem {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f6f6f;
}

.specsItem p {
    margin: 4px 0px 0px 0px;
    font-weight: bold;
}

.specsItem i {
    font-size: 0.8em;
}

.specsItem:last-child{
    color: #f27010;
    border-bottom: #f27010 solid 4px;
}

.moreFeatures {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    background-color:  #f0f0f0;
    color: #6f6f6f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
}

.featuresList {
    text-align: end;
    width: 23%;
}
.featuresList ul {
    list-style: none;
    line-height: 34px;
}

.featuresList ul li:first-child {
    color: #f27010;
}

#forBorder {
    width: 15px;
    height: 138px;
    border-right: black 0.5px solid;
}

.filtersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    font-size: 0.8em;
    padding-top: 23px;
    align-self: flex-start;
}

.checkOption {
    display: inline-block;
    width: 170px;
    margin-left: 40px;
    margin-bottom: 15px;
}



/* otro */
.containerWithPadding{
    padding: 0px 50px;
}

.ourBrands{
    background-color: yellow;
    height: 350px;
    width: 100%;
}

.trends{
    background-color: yellowgreen;
    height: 220px;
    width: 100%;
}

.toUnfold{
    height: 60px;
    width: 100%;
    background-color: orange;
    margin: 50px 0px; 
}

footer{
    background-color: gray;
    height: 220px;
    width: 100%;
}

